:root {
  --highlight-color: #2196f3;
  --default-text-color: #212121;
  --contacts-color: #757575;
  --hero-button-color: #ffffff;
  --hero-bg-color: #2f303a;
  --logo-sufix-color: #ffffff;
  --logo-theme-light-color: #2f303a;
  --footer-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --team-bg-color: #f5f4fa;
  --filter-button-bg-color: #f5f4fa;
  --hero-title-color: #ffffff;
  --team-color: #f5f4fa;
  --portfolio-tile-bg-color: #f5f4fa;
  --team-member-bg-color: #ffffff;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--default-text-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--default-text-color);
}

.logo-prefix {
  color: var(--highlight-color);
}

.logo-theme-dark {
  color: var(--logo-sufix-color);
}

.logo-theme-light {
  color: var(--logo-theme-light-color);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--default-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--highlight-color);
}

.menu-link.active {
  color: var(--highlight-color);
}

.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}
.mail:hover,
.mail:focus {
  color: var(--highlight-color);
}
.phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}
.phone-number:hover,
.phone-number:focus {
  color: var(--highlight-color);
}

/* ========= COMPONENTS ======= */

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--default-text-color);
}

/* ========= /COMPONENTS ======= */

/* ======== body-elements =======*/
.hero {
  background-color: var(--hero-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--highlight-color);
  color: var(--hero-button-color);
  cursor: pointer;
}

.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--filter-button-bg-color);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--highlight-color);
  color: var(--hero-button-color);
}

.filter-button.active {
  background-color: var(--highlight-color);
  color: var(--hero-button-color);
}

.portfolio-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--default-text-color);
}

.portfolio-item {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: 370px;
  text-align: center;
}

.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

.team {
  background-color: var(--team-color);
}

.team-member {
  background-color: var(--team-member-bg-color);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.position {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

.hero-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ======== /body-elements ====== */

footer {
  background-color: var(--footer-color);
}

.desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

address {
  font-style: normal;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-button-color);
}

.contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}
