:root {
    --highlight-color: #2196f3;
    --default-text-color: #212121;
    --contacts-color: #757575;
    --hero-button-color: #ffffff;
    --logo-theme-light-color: #2f303a;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--default-text-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-prefix {
  color: var(--highlight-color);
}

.logo-theme-dark {
  /* color: #FFFFFF; */
}

.logo-theme-light {
  color: var(--logo-theme-light-color);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--default-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--highlight-color);
}
.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}
.mail:hover,
.mail:focus {
  color: var(--highlight-color);
}
.phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}
.phone-number:hover,
.phone-number:focus {
  color: var(--highlight-color);
}

/* ========= COMPONENTS ======= */

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--default-text-color);
}

/* ========= /COMPONENTS ======= */

/* ======== body-elements =======*/

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* color: #FFFFFF; */
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--highlight-color);
  color: var(--hero-button-color);
  cursor: pointer;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.position {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

.hero-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ======== /body-elements ====== */

.desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* color: #FFFFFF*/
}
.contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* color: rgba(255, 255, 255, 0.6); */
}
